/* 1. Ayarlar ve Değişkenler */
@import 'abstracts/variables';

/* 2. Temel Stiller */
@import 'base/reset';

/* 3. Düzen (Layout) */
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';

/* 4. Bileşenler (Components) */
@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';
@import 'components/datepicker';
@import 'components/map-drawer';
@import 'components/cookie-consent';
@import 'components/badges';